{% extends "base.html" %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="/media/js/map.js"></script>
    <script type="text/javascript" src="/media/js/spots.js"></script>
    <link rel="stylesheet" href="/media/style/base.css" type="text/css" />
{% endblock %}

{% block content %}
<header>
    <h1>o)))</h1>
    <form method="get" action="{% url spots_search %}" id="search-form">
        <span>
            <input type="text" name="place" />
            <button id="search-button">search</button>
        </span>
        <input type="button" id="add-spot" value="+ add" />
    </form>
</header>

<div id="map"></div>

<section id="content"></section>

<script type="text/javascript" charset="utf-8">
    Map.init();
    SpotManager.init();
</script>

{% endblock %}

