{% extends "base.html" %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="/media/js/map.js"></script>
    <script type="text/javascript" src="/media/js/spots.js"></script>
    <script type="text/javascript" src="/media/js/votes.js"></script>
    <script type="text/javascript" src="/media/js/page.js"></script>
    <script type="text/javascript" src="/media/js/urlconf.js"></script>
    <link rel="stylesheet" href="/media/style/base.css" type="text/css" />
{% endblock %}

{% block content %}
<header>
    <h1><a href="#/" title="WiFi Map" class="page-url">WiFi Map</a></h1>
    <h2>Find WiFi Access Points around the world!</h2>
    <form method="get" action="{% url spots_search %}" id="search-form">
        <span>
            <input type="hidden" name="north" />
            <input type="hidden" name="south" />
            <input type="hidden" name="east" />
            <input type="hidden" name="west" />
            <input type="text" name="place" />
            <button id="search-button">search</button>
        </span>
        <input type="button" id="add-spot" value="+ add" />
    </form>
</header>

<div id="map"></div>

<section id="content"></section>

<script type="text/javascript" charset="utf-8">
    Map.init();
    SpotManager.init();
    Voting.init();
    
    Page.init();
    
    $('#add-spot').unbind('click').click(function() {
        location.hash = '#/spots/add';
        return false;
    });
    
    $(document).hashchange(function() {
        console.log( " ** hashchanged " + location.hash );
        Page.load( Page.getCurrent() );
    });
</script>

{% endblock %}

