<h1>Add Spot</h1>

{% include "messages.html" %}

<form action="{% url spots_add %}" method="post" id="add-spot-form">
    {{ form.as_p }}
    <p><input type="submit" value="Save" id="submit-spot"></p>
    {% csrf_token %}
</form>

<script type="text/javascript" charset="utf-8">
    SpotManager.bindFormSubmit();
    
    Map.followCenter( function(lat, lng) {
        $('#id_lat').val(lat);
        $('#id_lng').val(lng);
    });
    
    $('#id_lat').val( Map.map.getCenter().lat() );
    $('#id_lng').val( Map.map.getCenter().lat() );
    
    Map.addMarkerToAdd({
        position: Map.map.getCenter(),
        draggable: true
    });
    
    // TODO: when leaving this page: hide the "Map.markerToAdd" from Map
    
</script>
