<h1>Add Spot</h1>

{% include "messages.html" %}

<form action="{% url spots_add %}" method="post" id="add-spot-form">
    {{ form.as_p }}
    <p><input type="submit" value="Save" id="submit-spot"></p>
    {% csrf_token %}
</form>

<script type="text/javascript" charset="utf-8">
    SpotForm.bindSubmit();
    
    Map.followCenter( function(lat, lng) {
        console.log(lat);
        SpotForm.updateLatLng( new google.maps.LatLng(lat, lng) );
    });
    
    SpotForm.updateLatLng( Map.map.getCenter() );
        
    Map.addMarkerToAdd({
        position: Map.map.getCenter(),
    });
    
    // TODO: when leaving this page: hide the "Map.markerToAdd" from Map
    
</script>
