<h1>Add Spot</h1>

{% include "messages.html" %}

<div id="lat-lng">
    <span class="lat"></span>
    <span class="lng"></span>
</div>

<form action="{% url spots_add %}" method="post" id="add-spot-form">
    {{ form.as_p }}
    <p><input type="submit" value="Save" id="submit-spot"></p>
    {% csrf_token %}
</form>

<script type="text/javascript" charset="utf-8">
    
    Map.followCenter( function(lat, lng) {
        $('#lat-lng .lat').html(lat);
        $('#lat-lng .lng').html(lng);
        $('#id_lat').val(lat);
        $('#id_lng').val(lng);
    });
    
</script>
