<h1>Access Point Detail</h1>

<div class="spot">
    {% include "spots/votes.html" %}
    <div class="info">
        <h2>{{ spot.name }}</h2>
        <p>{{ spot.address }}</p>
        <p>{{ spot.protected|yesno:"Protected,Unprotected" }} Access</p>

        {% if spot.description %}
            <p>{{ spot.description }}</p>
        {% endif %}
    </div>
</div>

<section id="comments">
    <h1>Comments</h1>
    <div id="disqus_thread"></div>

    <script type="text/javascript">
    /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
    //disqus_developer=1;
    disqus_url="{% url spot_detail spot.id %}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://wifimap.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=wifimap">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</section>

