<section id="spot-list">
    <h1>Access Points</h1>

    {% for spot in spots %}
        <div class="spot">
            <p class="votes">
                <a href="{% url spot_vote spot.id %}" class="vote-up" title="Vote Up">+</a>
                <strong>{{ spot.score }}</strong>
                <span>{{ spot.votes }} votes</span>
                <a href="{% url spot_vote spot.id %}" class="vote-down" title="Vote Down">-</a>
            </p>
            <div class="info">
                <h2>{{ spot.name }}</h2>
                <p>{{ spot.address }}</p>
                <a href="{% url spot_detail spot.id %}">see more</a>
            </div>
        </div>
    {% endfor %}
</section>
